@include maxWidth(600px) {
    .box-icon-scroll {
        display: none !important;
    }

    .site-header__topbar {
        display: none;
    }

    .site-header {
        position: sticky;
        z-index: 999;
        top: 0;
        background: #fff;
    }

    .hero-slide__bg {
        height: 400px;
    }

    .hero-slider__content {
        max-width: 100%;
    }

    .hero-slider__actions {
        a {
            width: max-content !important;
            padding: 3px 14px;
            min-height: auto;
        }
    }

    .bio-btn {
        font-size: 12px;
    }

    .home-essence,
    .home-bestsellers {
        padding: 30px 0;
    }

    .home-essence__title {
        width: 100%;
        font-size: 20px;
        line-height: 25px;
    }

    .home-essence__inner,
    .home-bestsellers__inner {
        gap: 20px;
    }

    .home-bestsellers__title {
        font-size: 24px;
    }

    .home-combo__desc {
        font-size: 14px;
    }

    .home-therapies__desc,
    .home-therapies__tab-num,
    .home-therapies__tab-name {
        font-size: 14px;
    }

    .home-therapies__featured-title {
        font-size: 20px;
    }

    .home-therapies__featured-text {
        font-size: 14px;
        line-height: 24px;
        height: auto;
    }

    .home-therapies__featured-body {
        padding: 15px;
    }

    .home-experts__watermark {
        display: none;
    }

    .home-therapies__tab {
        padding: 10px 16px 10px 12px;
    }

    .home-experts__featured {
        width: auto;
        gap: 20px;
    }

    .home-experts__featured-content {
        padding-left: 15px;
        gap: 20px;
    }

    .bio-profile__role {
        font-size: 12px;
        line-height: 19px;
    }

    .bio-profile__avatar {
        width: 44px;
        height: 44px;
    }

    .home-experts__inner {
        gap: 20px;
    }

    .home-experts__bio {
        font-size: 14px;
    }

    .home-experts__presence img {
        width: 30px;
        height: 30px;
    }

    .home-experts__presence {
        font-size: 16px;
    }

    .home-experts__members {
        margin-top: 25px;
        gap: 20px;
    }

    .home-experts__vn-desc {
        font-size: 14px;
    }

    .home-experts__vn-title {
        font-size: 22px;
    }

    .expert-card__photo img {
        height: auto;
    }

    .expert-card__photo {
        min-height: 134px;
    }

    .expert-card {
        padding: 8px;
        gap: 0;
        margin-bottom: 20px
    }

    .expert-card__arrow {
        display: none;
    }

    .home-experts__vn-grid {
        display: block;
    }

    .home-results__banner-text {
        font-size: 14px;
    }

    .ba-card__title {
        font-size: 18px;
    }

    .home-results__banner {
        padding: 20px;
    }

    .home-results__banner-inner,
    .home-results__inner {
        gap: 10px
    }

    .home-blog__all {
        display: none;
    }

    .home-blog {
        padding-top: 0;
    }

    .home-blog__inner {
        gap: 20px;
    }

    .bio-cta-form__submit {
        span {
            display: none;
        }
    }

    .bio-title-display,
    .home-cta__title {
        font-size: 25px;
    }

    .home-cta {
        padding-bottom: 0;
    }

    .site-footer {
        padding: 30px 0
    }

    .catalog-breadcrumb {
        display: none;
    }

    .catalog-hero__inner {
        width: 95%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .catalog-toolbar__sort {
        span {
            display: none;
        }
    }

    .catalog-toolbar__controls {
        justify-content: space-between;
    }

    .catalog-toolbar__sort {
        width: 100%;
        justify-content: end;
        font-size: 12px;
    }

    .catalog-toolbar__filters,
    .catalog-toolbar__sort-select {
        font-size: 12px;
    }

    .product-card__body {
        gap: 5px;
        padding-top: 5px;
    }

    .product-card__price {
        margin: 0;
    }

    .product-card__cart {
        width: 38px;
        height: 38px;
    }

    .product-card__cart img {
        width: 20px !important;
        height: 20px !important;
    }

    .acne-about {
        padding: 30px 0;

        h2 {
            font-size: 22px;
        }

        .acne-about__desc {
            font-size: 14px;
            margin-top: 0;
            margin-bottom: 10px;
        }
    }

    .acne-about__content {
        margin-bottom: 10px;
    }

    .about-journey__title {
        max-width: max-content;
        font-size: 20px;
        line-height: 30px;
    }

    .about-journey__inner,
    .about-journey__content {
        gap: 10px;
        max-width: max-content;
        margin: 0 auto;
    }

    .about-journey__heading,
    .hybrid-section-title {
        font-size: 20px;
        line-height: 30px;
    }

    .about-journey__story {
        gap: 20px;
    }

    .about-journey__text {
        font-size: 14px;
    }

    .about-journey__caption-role {
        font-size: 12px;
    }

    .hybrid-section {
        padding: 30px 0;
    }

    .card-hybrid {
        width: 48%;
        padding: 10px;

    }

    .card-hybrid-list {
        gap: 15px;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .hybrid-section-title {
        margin-bottom: 10px;
    }

    .card-hybrid {
        img {
            width: 40px;
            height: 40px;
        }

        h5 {
            font-size: 16px;
            margin: 0;
        }

        p {
            font-size: 14px;
        }

        .card-body {
            padding: 10px 0;
        }
    }

    .hybrid-section .compare-table {
        margin: 20px 0 0 0;
    }

    .hybrid-section .icon {
        width: 30px;
        height: 30px;
        font-size: 12px;
    }

    .contact-faq__title {
        margin: 0 auto 10px;
    }

    .contact-faq__text {
        font-size: 16px;
        line-height: 20px;
    }

    .contact-faq__answer {
        padding: 10px;
        font-size: 14px;
    }

    .contact-hero__title {
        font-size: 25px;
    }

    .contact-hero__copy {
        min-height: 200px;
        padding: 40px 20px 48px;
    }

    .contact-hero__inner {
        gap: 10px;
    }

    .contact-hero__visual,
    .contact-channels__icon,
    .contact-lookup__icon {
        display: none;
    }

    .contact-lookup__title {
        font-size: 18px;
    }

    .contact-lookup__desc {
        font-size: 14px;
    }

    .contact-lookup__input {
        font-size: 14px;
    }

    .contact-channels__title {
        margin: 0 auto 20px;
    }

    .contact-channels__name {
        font-size: 18px;
    }

    .contact-channels__desc {
        font-size: 14px;
    }

    .contact-channels__card {
        gap: 10px;
    }

    .contact-consult__desc {
        font-size: 14px;
    }

    .contact-consult__form-card,
    .contact-consult__info-card {
        padding: 20px;
    }

    .contact-consult__card-title {
        font-size: 24px;
        margin-bottom: 10px;
        text-align: center;
    }

    .contact-consult__offices {
        gap: 0;
    }

    .guide-hero__search,
    .guide-featured,
    .guide-chips__search,
    .guide-list__sort,
    .guide-sidebar__widget,
    .guide-sidebar__card,
    .post-layout__toc,
    .about-hero__desc {
        display: none;
    }

    .guide-hero__title {
        font-size: 25px;
    }

    .guide-hero__desc {
        font-size: 14px;
    }

    .guide-chips__inner {
        flex-wrap: nowrap;
        overflow: scroll;
    }

    .guide-list__title {
        font-size: 22px;
        text-align: center;
    }

    .guide-list__head {
        margin-bottom: 10px;
        justify-content: center;
    }

    .guide-promo__title {
        font-size: 16px;
    }

    .guide-sidebar__lead {
        margin-top: 30px;
    }

    .guide-knowledge__toc,
    .about-therapy__visual {
        display: none;
    }

    .guide-knowledge {
        padding: 0;
    }

    .guide-knowledge__title {
        font-size: 20px;
    }

    .post-layout {
        gap: 0;
    }

    .post-page,
    .post-related,
    .about-hybrid {
        padding: 30px 0;
    }

    .about-hero__title {
        font-size: 20px;
    }

    .about-hero__subtitle {
        font-size: 16px;
    }

    .about-hero__subtitle {
        white-space: normal;
        padding: 0;
    }

    .about-hero__inner {
        min-height: auto;
        padding-top: 48px;
    }

    .about-why__title,
    .results__title {
        font-size: 22px;
        line-height: 30px;
    }

    .about-why__label {
        font-size: 12px;
        line-height: 20px;
        width: 150px;
    }

    .about-hybrid__title {
        font-size: 20px;
        line-height: 25px;
    }

    .about-hybrid__banner-inner {
        gap: 10px;
    }

    .about-hybrid__lead {
        font-size: 14px;
        line-height: 26px;
    }

    .about-hybrid__quote-text {
        margin-top: 24px;
        font-size: 20px;
        line-height: 34px;
    }

    .about-therapy__panel {
        padding: 30px 10px !important;
    }

    .about-therapy__title {
        font-size: 25px;
        line-height: 33px;
    }

    .about-therapy__item-title {
        font-size: 20px;
        line-height: 15px;
    }

    .about-therapy__item-desc {
        font-size: 14px;
    }

    .about-therapy {
        height: auto;
    }

    .about-partners {
        padding: 30px 0;
    }

    .about-partners__title {
        font-size: 23px;
        line-height: 30px;
    }

    .about-partners__inner {
        gap: 0;
    }

    .catalog-hero__inner,
    .product-card__cart,
    .error-hero__search {
        display: none;
    }

    .product-card__badge {
        top: 15px;
        left: 9px;
    }

    .bio-badge,
    .product-card__badge {
        min-height: 20px;
        font-size: 9px;
    }

    .product-card__category {
        font-size: 12px;
    }

    .product-card__name {
        font-size: 14px;
        line-height: 19px;
    }

    .product-card__price-current,
    .product-card__price-old {
        font-size: 12px;
    }

    .product-tabs {
        padding-top: 0;
    }

    .product-tabs__link {
        white-space: nowrap;
    }

    .product-tabs__nav {
        flex-wrap: nowrap;
        overflow-x: scroll;
    }

    .product-tabs__panels {
        padding-top: 10px;
    }

    .product-desc__title {
        font-size: 25px;
        line-height: 42px;
        text-align: center;
        margin: 0;
    }

    .post-article__header {
        gap: 10px;
    }

    .error-solutions__title {
        font-size: 24px;
        line-height: 34px;
    }

    .error-channels__chat {
        font-size: 16px;
    }

    .team-process__nav {
        gap: 12px;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: scroll;
        justify-content: space-around;
        padding-bottom: 20px;
        margin: 0;
    }

    .team-process__nav .nav-link {
        font-size: 14px;
        height: auto;
        line-height: 35px;
    }

    .team-consult__heading-sub {
        font-size: 20px;
        line-height: 36px;
    }

    .team-consult__wrap {
        gap: 0;
    }

    .ep-opt__name {
        display: block;
    }

    .team-consult__photo {
        display: none;
    }

    .about-hero__actions {
        display: none;
    }

    .acne .about-hero__subtitle {
        width: 353px;
        font-size: 12px;
    }

    .acne-about .acne-about__subtitle {
        margin-top: 0;
        font-size: 14px;
    }

    .acne-about .acne-about__img {
        margin-top: 20px;
    }

    .acne-solution,
    .acne-steps,
    .expert-expertise {
        padding: 30px 0;
    }

    .acne-solution__center,
    .progress-bottom {
        display: none;
    }

    .acne-solution__item h3 {
        font-size: 16px;
    }

    .acne-solution__item p {
        font-size: 14px;
    }

    .acne-solution__item-img img {
        width: 100%;
    }

    .acne-steps__list {
        overflow-x: scroll;
        gap: 30px;
    }

    .step-head {
        text-align: center;

        >img {
            width: 130px;
        }
    }

    .step-head__content {
        img {
            width: 25px;
        }

        span {
            font-size: 12px;
            line-height: 20px;
        }
    }

    .step-body {
        font-size: 12px;
    }

    .arrow-step {
        top: 63px;
        right: -36px;
        width: 53px;
    }

    .acne-solution__item {
        flex-direction: column-reverse !important;
        gap: 10px;
    }

    .search-banner {
        display: none;
    }

    .search-toolbar__count {
        margin-top: 6px;
        font-size: 12px;
    }

    .expert-story__photo {
        height: auto;
    }

    .expert-story__content {
        gap: 10px;
        padding-top: 20px;
    }

    .achievements {
        padding-bottom: 0;
    }

    .title-icon {
        img {
            width: 30px;
            height: 30px;
        }
    }

    .the-press {
        padding-top: 0;
    }

    .info-press {
        padding: 32px 20px;
    }

    .title {
        margin-bottom: 28px;
        font-size: 22px;
        line-height: 30px;
    }

    .feedback-master {
        padding-bottom: 0;
    }
    .gallery-grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 220px 84px;
}

.gallery-item--large {
    grid-column: 1 / span 4;
    grid-row: 1;
}
.gallery-overlay{
    p{
        display: none;
    }
}
.master-album {
    padding: 0 0 20px 0;
}
.team-consult__heading-main {
    font-size: 22px;
}
.master-connect {
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}
.about-hybrid__quote-photo{
    display: none;
}
.book-form{
    margin-top: 30px;
}
.process-wap {
    overflow-x: scroll;
}
}