@import 'abstracts';
@import 'components';
@import 'homepage';
@import 'about';
@import 'contact';
@import 'policy';
@import 'catalog';
@import 'product';
@import 'guide';
@import 'post';
@import 'error';
@import 'team';

html {
    scroll-behavior: smooth;
}

body {
    @include Regular();
    margin: 0;
    color: $black;
    background: $white;

    &.is-nav-open {
        overflow: hidden;
    }
}

.ul-reset {
    padding: 0;
    margin: 0;

    li {
        list-style: none;
        outline: none;
    }
}
